[submodule "librime"]
	path = app/src/main/jni/librime
	url = https://github.com/rime/librime.git
[submodule "app/src/main/jni/snappy"]
	path = app/src/main/jni/snappy
	url = https://github.com/google/snappy.git
[submodule "app/src/main/jni/sherpa-onnx-src"]
	path = app/src/main/jni/sherpa-onnx-src
	url = https://github.com/k2-fsa/sherpa-onnx
[submodule "app/src/main/jni/librime-lua"]
	path = app/src/main/jni/librime-lua
	url = https://github.com/hchunhui/librime-lua.git
[submodule "app/src/main/jni/librime-lua-deps"]
	path = app/src/main/jni/librime-lua-deps
	url = https://github.com/hchunhui/librime-lua.git
	branch = thirdparty
